[Desktop Entry]
Categories=Audio;Player;Qt;
Comment[en_US]=Soundboard audio clip player
Comment=Soundboard audio clip player
Exec=/opt/Curmudgeon/Curmudgeon
GenericName[en_US]=
GenericName=
Icon=/opt/Curmudgeon/logo.png
MimeType=
Name[en_US]=Curmudgeon
Name=Curmudgeon
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
